#warning-triangle {
  position: absolute;
  top: 25%;
  right: -5%;
  transform: rotate(-12deg);
  z-index: 10;
}

#warning-skull {
  position: absolute;
  top: 35%;
  left: -4%;
  transform: rotate(3deg);
  z-index: 20;
}

#warning-biohazard {
  position: absolute;
  top: 38%;
  left: 11%;
  transform: rotate(-3deg);
  z-index: 10;
}