#warning-triangle {
  position: absolute;
  top: 79%;
  right: 40%;
  transform: rotate(15deg);
  z-index: 10;
}

#warning-skull {
  position: absolute;
  top: 15%;
  left: -6%;
  transform: rotate(3deg);
  z-index: 20;
}

#warning-biohazard {
  position: absolute;
  top: 17%;
  left: 61%;
  transform: rotate(-3deg);
  z-index: 10;
}