#warning-triangle,
#warning-skull,
#warning-biohazard {
  position: absolute;
  display: none;
  z-index: 10;
  @media only screen and (min-width: 425px) {
    display: block;
  }
}

#warning-triangle {
  bottom: 40px;
  left: -55px;
  transform: rotate(15deg);
  box-shadow: -2px 3px 3px 1px #00000054;
  @media only screen and (min-width: 1024px) {
    left: 5%;
    bottom: 10px;
  }
}

#warning-skull {
  top: 160px;
  left: -100px;
  transform: rotate(3deg);
  box-shadow: 1px -2px 5px 2px #00000054;
  @media only screen and (min-width: 1024px) {
    left: -3%;
  }
}

#warning-biohazard {
  top: 17%;
  left: 61%;
  transform: rotate(-3deg);
  box-shadow: 2px -4px 5px 2px #00000054;
}