@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Montserrat:300,300i,600&display=swap');
@font-face {
  font-family: 'calculator';
  src: url('../assets/fonts/calculator/calculator.ttf') format('ttf'),
  url('../assets/fonts/calculator/calculator.woff') format('woff'),
  url('../assets/fonts/calculator/calculator.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
